<main>
  <div class="output-wrapper">
    <div class="output-info-container">
      <h2>書籍情報</h2>
      <form>
        <p class="output-contents">
          <label class="output-labels">タイトル</label>
          <input type="text" name="hoge">
          <button>検索</button>
        </p>
        <p class="output-contents">
          <label class="output-labels">著者 </label>
          <input type="text" name="hoge">
        </p>
        <p class="output-contents">
          <label class="output-labels">ジャンル</label>
          <select name="hoge">
            <option value="hoge">---</option>
            <option value="hoge">経済</option>
            <option value="hoge">スポーツ</option>
          </select>
        </p>
        <p class="output-contents output-texts">
          <label class="output-labels output-text-label">Output</label>
          <textarea class="output-textarea" name="hoge" placeholder="1000文字以内で入力してください"></textarea>
        </p>
        <p class="output-contents">
          <label class="output-labels">おすすめ度</label>
          <select name="hoge">
            <option value="hoge">星1　★☆☆☆☆</option>
            <option value="hoge">星5　★★★★★</option>
          </select>
        </p>
        <p class="output-contents">
          <label class="output-labels">公開設定</label>
          <span class="radio"><input type="radio" name="public">公開</span>
          <span class="radio"><input type="radio" name="public">非公開</span>
        </p>
        <p class="output-submit">
          <input class="output-submit-btn" type="submit" value="Outputする">
        </p>
      </form>
    </div>
  </div>
</main>