<header>
  <div class="header-container">
    <div class="header-left">
      <h1 class="app-name">TmyRB</h1>
      <div class="header-contents">
        <form>
          <input type="text" class="search-box" placeholder="検索する" name="hoge">
          <input type="submit" class="search-btn" value="検索">
          <button class="search-btn">詳細検索</button>
        </form>
      </div>
    </div>
    <div class="header-right">
    
      <ul class="sign-btns">
      <% if user_signed_in? %>
        <li class="sign-btns-left">
          <%= link_to(current_user.nickname, edit_user_registration_path) %>
        </li>
        <li class="sign-btns-right">
          <%= link_to("ログアウト", destroy_user_session_path, method: :delete) %>
        </li>
      <% else %>
        <li class="sign-btns-left">
          <%= link_to("新規登録", new_user_registration_path) %>
        </li>
        <li class="sign-btns-right">
          <%= link_to("ログイン", new_user_session_path) %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</header>