<%= render partial: "templates/header"%>

<main>
  <div class="main-container">
    <% if user_signed_in? %>
      <%= render partial: "templates/user_contents"%>
    <% end %>
    <div class="main-contents">
    <h2 class="main-contents-header">投稿一覧</h2> 
    <div class="contents">
      <div class="tabbed-content clearfix">
        <!--Tabbed navigation-->
        <ul class="tabs">
          <li class="tab-link current" data-tab="text-tab">Text</li>
          <li class="tab-link" data-tab="video-tab">Video</li>
          <li class="tab-link" data-tab="audio-tab">Audio</li>
        </ul>
        <!--Wrapper to contain interchanging content-->
        <div class="tabs-wrapper">
            <!--textual tab content-->
          <div id="text-tab" class="tab-content current">
            <%= render partial: "templates/other_books"%>
          </div> 
          <!--video tab content-->
          <div id="video-tab" class="tab-content">
           <iframe src="#" frameborder="0" allowfullscreen></iframe>
          </div>
          <!--audio tab content-->
          <div id="audio-tab" class="tab-content">
            <audio src="#" controls preload></audio>
          </div>
        </div>
      </div>
    </div>
  </div>
</main> 