body{
  background-image: image-url("Melamine-wood-005.png");
  background-size: contain;
  background-color:rgba(255,255,255,0.3);
  background-blend-mode:lighten;
  height: 100vh;
}

header {
  height: 100px;
}

main {
  height: calc(100vh - 100px);
}

.main-contents-header{
  padding-top: 15px;
  text-align: center;
  font-size: 20px;
}

.header-container {
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
}

.app-name {
  font-size: 22px;
  margin-bottom: 10px;
}

.header-contents{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign-btns{
  list-style: none;
  display: flex;
}

.sign-btns-left{
  margin-right: 10px;
}

.main-container{
  display: flex;
  justify-content: center;
  height: calc(100vh - 100px);
  width: 100%;
}

.user-menu-lists{
  padding: 5px 0;
}

.user-contents{
  width: 300px;
  background-color: bisque;
  text-align: center;
  margin-top: 15px;
}

.user-info{
  padding: 15px 0;
}

.main-contents{
  width: calc(1040px - 300px);
  background-image: image-url("notebook.png");
  background-size: cover;
}

.output-wrapper{
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
}

.output-info-container{
  padding: 10px;
}

.output-info-container h2{
  text-align: center;
  font-size: 28px;
}

.output-contents{
  margin-bottom: 10px;
}

.output-contents:first-child{
  margin-top: 15px;
}

.output-contents input[type="text"]{
  width: 300px;
}

.output-contents select{
  width: 150px;
}

.output-labels{
  display: inline-block;
  width: 100px;
  padding: 0 30px 0 0;
}

.output-text-label{
  vertical-align: top;
}


.output-textarea{
  height: 200px;
  width: 700px;
  padding-left: 5px;
}

.output-submit{
  text-align: center;
}

.output-submit-btn{
  width: 200px;
  letter-spacing: 3px;
  font-size: 18px;
}

.radio{
  padding-right: 20px;
}

.registrations-fields{
  display: flex;
  justify-content: space-around;
 }


.field{
  margin-bottom: 10px;
}

.regist-fields{
  display: inline-block;
  width: 200px;
}

.appeal-field{
  display: flex;
}

.appeal-text{
  width: 450px;
  height: 120px;
}

.actions{
  margin-top: 10px;
  text-align: center;
}

.book-blocks{
  padding: 5px;
}

.info-box{
  width: 100%;
}

.book-timestamp{
  text-align: right;
  font-size: 12px;
}

.books{
  padding-left: 30px;
  transform: scale(0.9, 0.9);
  height: 100%;
  
}

.chart-container{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chart-container-header{
  text-align: center;
  padding-bottom: 10px;
}

.chart{
  display: flex;
  justify-content: center;
}

//wrapping element
.tabbed-content {
  overflow-y: scroll;
  padding-left: 85px;
  position: relative;
  margin-top: 25px;
  overflow: hidden;
  font-family: arial, 'sans-serif';
  color: #525252;
  }
  
  //tab links block
  .tabs{
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: normal;
  width: 100%;
  float: none;
  }
  
  //individual tab link
  .tab-link {
    height: 17px;
    text-align: center;
    width: 100px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;

    color: #fff;
    display: block;
    padding: 15px 25px;  
    background: #525252;
    cursor: pointer;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    &.current {
    background: #CCCCCC;
        color: #5B5B5B;
    }
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
  }
  
  //tab content wrapper
  .tabs-wrapper {
  float: left;
  width: 100%;
  
  }
  
  //tab content blocks to toggle between
  .tab-content{
    height: 410px;
  min-height: 0;
  display: none;
  border:4px solid #CCCCCC;
  padding: 20px;
  margin:0;
  float: left;
  -webkit-border-radius: 0 10px 10px 10px;
  -moz-border-radius: 0 10px 10px 10px;
  border-radius: 0 10px 10px 10px;
  min-height: 231px;//height of tabs + 10
  width: 100%;
  box-sizing:border-box;
  position: relative;
  -moz-box-sizing:border-box;
  &.current {
  display: inherit;
  }
  *:first-child {
      margin-top:0;
  }
  }

  .other-books{
    padding-left: 30px;
    transform: scale(0.9, 0.9);
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 20px;
  }

  .other-book-block{
    width: 100% !important;
  }