.registrations-fields{
  display: flex;
  justify-content: space-around;
 }


.field{
  margin-bottom: 10px;
}

.regist-fields{
  display: inline-block;
  width: 200px;
}

.appeal-field{
  display: flex;
}

.appeal-text{
  width: 450px;
  height: 120px;
}

.actions{
  margin-top: 10px;
  text-align: center;
}

.book-blocks{
  padding: 5px;
}

.info-box{
  width: 100%;
}

.my-book-timestamp{
  text-align: right;
  font-size: 12px;
}